.wp-block-quote {
    /* margin-top: 15px; 
    margin-bottom: 15px; */
    margin-left: 60px;
}

.wp-block-quote .block-a {
    text-decoration: none;
}

.wp-block-quote .block-p {
    font-size: 15px;
    margin-left: 5px;
    color: #4d5156;
}






nav {
  position: relative;
  display: inline-block;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

nav::before {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  color: black;
  font: 400 24px/1 'Lato', sans-serif;
  text-align: center;
}


/* common */
nav ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
nav ul::after {
  display: block;
  clear: both;
  content: '';
}
nav ul li {
  position: relative;
  float: left;
  border: 2px solid black;
}
nav ul li:not(:first-child) {
  border-left: none;
}
nav ul li:hover {
  background-color: rgba(255,255,255,.3);
}
nav ul li a {
  display: inline-block;
  /* padding: 1em 3em; */
  color: black;
  font: 400 18px/1 'Lato', sans-serif;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}
nav ul ul {
  position: absolute;
  top: 100%;
  left: -2px;
}
nav ul ul li {
  float: none;
  margin: 0;
}
nav ul ul li:not(:first-child) {
  border: 2px solid black;
  border-top: none;
}
nav ul ul ul {
  position: absolute;
  top: -2px;
  left: 100%;
}

/* DEMO #1 */
.nav01 ul ul {
  display: none;
}
.nav01 ul li:hover > ul {
  display: block;
}
